<div class="well" align="center">
	<h2>Login</h2>

	<%= form_tag sessions_path do %>
	  <p>
	    <%= text_field_tag :email, params[:email], :placeholder => 'E-mail' %>
	  </p>
	  <p>
	    <%= password_field_tag :password, :placeholder => 'Senha' %>
	  </p>
	  <button type="submit" value="post" class="btn btn-inverse">
	  	Login
		</button>
	  <%= link_to "Cadastre-se", sign_up_path, :class => 'btn btn-primary' %>
	<% end %>
</div>