<%= javascript_include_tag 'subcomment' %>

<%= form_tag(create_subcomment_path company, comment, :method => :post) do %>
  <div class="field subcomment"><%= text_area_tag 'content', '', {:rows => 1, :placeholder => placeholder_condition(current_user), :disabled => disabled_if_no_user(current_user) } %></div>
  <button type="submit" value="post" class="btn btn-inverse" <%= disabled?(current_user) %>>
  	<i class="icon-comment"></i> Comentar
	</button>
<% end %>

