<%= form_tag(create_comment_path company, :method => :post) do %>
  <div class="field"><%= text_area_tag 'content', '', :rows => 3, :placeholder => 'Entre com seu comentário' %></div>
	<button type="submit" value="post" class="btn btn-inverse">
  	<i class="icon-comment"></i> Comentar
	</button>
<% end %>
