<% comment.subcomments.each do |subcomment| %>
  <span class="content"><%= link_to subcomment.owner %>: <%= subcomment.content %></span>
  <p class="timestamp">
    Postado <%= time_ago_in_words(subcomment.created_at) %> atrás.
  </p>
<% end %>