<% comment.subcomments.each do |subcomment| %>
  <li>
  <span class="content"><%= subcomment.content %></span>
  <span class="timestamp">
    Postado <%= time_ago_in_words(subcomment.created_at) %> atrás.
  </span>
	</li>
<% end %>